.container {
    .container-card{
        @include containerCards;
        .container-card_left {
            width: 400px;
            height: auto;
            .card_icon_student{
                display: inline-flex;
                align-items: center;
                gap: .5rem;
                padding: .3rem 1rem;
                border-radius: 1rem;
                border: 1px solid $dark-400;
                background: $dark-200;
                margin-bottom: 1.5rem;
                p{
                    font-size: .8rem;
                }
            }
            h1{
                color: $white;
                margin-bottom: 2rem;
            }
            p{
                color: $grey;
                font-weight: 400;
            }
        }
    }

    .container-card_right {
        width: 420px;
        height: 400px;
        border-radius: .7rem;
        padding: 1rem;
        background: $white;
    }
}


